.footer {
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 20px;

    .footer__content {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .footer__text {
            color: $gray-extra-middle;
            font-family: Gilroy-Regular;
            font-size: 18px;
            font-weight: 400;            

            & span {
                font-family: Gilroy-SemiBold;                
            }

            @media screen and (max-width: 440px) {
                font-size: 4vw;
            }
            
            @media screen and (max-width: 340px) {
                font-size: 3vw;
            }
        }

        .footer__social {
            display: flex;
            justify-content: flex-end;
            gap: 10px;                
        }
    }
}