.clients {
    padding-bottom: 130px;
    display: flex;         
    flex-direction: column;

    @media (max-width: 768px) {            
        padding-bottom: 40px;
    }
}

.clients__title {
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;

    &--adaptiv {
        @media screen and (min-width: 769px) and (max-width: 1450px) {
            font-size: 14vw;
            letter-spacing: 1vw;
        }
        @media screen and (max-width: 768px) {
            font-size: 14vw;
        }
    }
}

.clients__list {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, calc(100% / 3));
    box-sizing: border-box;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    .clients__item { 
        box-sizing: border-box; 
        row-gap: 30px;
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
            border-right: 1px solid $black;

            @media (max-width: 768px) {
                border: none;
                border-bottom: 1px solid $black;
            }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-bottom: 1px solid $black;

            @media (max-width: 768px) {
                border: none;
                border-bottom: 1px solid $black;
            }
        }

        @media (min-width: 1636px) {
            padding: 30px;
            display: grid;
            grid-template-rows: 40px 150px auto 80px;
            grid-template-columns: auto;
        }
        
        @media (min-width: 1201px) and (max-width: 1636px) {
            padding: 30px;
            display: grid;
            grid-template-rows: 40px 165px auto 80px;
            grid-template-columns: auto;
        }

        @media (min-width: 769px) and (max-width: 1200px) {
            padding: 20px;
            display: grid;
            grid-template-rows: 40px 100px auto 80px;
            grid-template-columns: auto;
        }

        @media (max-width: 768px) {            
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-template-columns: auto;
            box-sizing: border-box;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        & svg {
            height: 40px;
            box-sizing: border-box;
        }

        .clients__item-title {            
            color: $gray-extra-middle;
            font-family: Gilroy;                      
            font-weight: 800;           
            
            @media (min-width: 1636px) {
                font-size: 38px;
                line-height: 44px; 
            }
            
            @media (min-width: 1201px) and (max-width: 1636px) {
                font-size: 34px;
                line-height: 40px; 
            }

            @media (min-width: 901px) and (max-width: 1200px) {
                font-size: 24px;
                line-height: 28px; 
            }

            @media (min-width: 769px) and (max-width: 900px) {
                font-size: 22px;
                line-height: 26px; 
            }

            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 44px; 
            }
        }
        
        .clients__text {
            color: $black;
            font-family: Inter;
            font-weight: 400;           

            @media (min-width: 1636px) {
                font-size: 20px;
                line-height: 30px; 
            }
            
            @media (min-width: 1201px) and (max-width: 1636px) {
                font-size: 16px;
                line-height: 24px; 
            }
    
            @media (min-width: 769px) and (max-width: 1200px) {
                font-size: 14px;
                line-height: 21px; 
            }

            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        .clients__client {
            display: flex;
            align-items: start;
            width: 100%;

            .clients__photo {                
                width: 70px;
                height: 70px;
                border-radius: 50%;  
                margin-right: 20px;             
            }

            .clients__info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                box-sizing: border-box;
                row-gap: 10px;

                .clients__name {
                    font-weight: 600;
                }
                    
                .clients__profession {
                    font-weight: 400;
                }
                
                .clients__name,
                .clients__profession {
                    color: $black;
                    font-family: Inter;

                    @media (min-width: 1636px) {
                        font-size: 20px;
                    }
                    
                    @media (min-width: 1201px) and (max-width: 1636px) {
                        font-size: 16px;
                    }
            
                    @media (min-width: 901px) and (max-width: 1200px) {
                        font-size: 14px;
                    }

                    @media (min-width: 769px) and (max-width: 900px) {
                        font-size: 13px;
                    }

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }                
            }          
        }
    }
}