.team {
  padding-bottom: 50px;
}

.team__list {
  display: flex;
  row-gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) {
    flex-wrap: wrap;
    column-gap: 40px;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (max-width: 768px) {
    margin: 20px 0;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    flex: 0 1 calc(100% / 2 - 20px);
    margin: 30px 0;
  }
  @media (min-width: 1201px) {
    flex: 0 1 calc(100% / 4 - 30px);
    margin: 30px 0;
  }

  &--grow {
    flex: 2 1;
    display: block;
  }
}

.team__text {
  color: $gray-extra-middle;

  @media (max-width: 768px) {
    text-align: center;
  }

  .team__name {
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .team__role {
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-weight: 400;
  }
}

.team__img-wrap {
  width: 100%;

  @media (max-width: 768px) {
    height: 105vw;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    height: 51vw;
  }
  @media (min-width: 1201px) and (max-width: 1920px) {
    height: 26vw;
  }
  @media (min-width: 1921px) {
    height: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}

.team__block {
  height: 100%;
  display: flex;
  flex-direction: column;

  row-gap: 15px;

  @media (max-width: 768px) {
    justify-content: start;
    align-items: center;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    justify-content: start;
    align-items: start;
  }
  @media (min-width: 1201px) {
    justify-content: center;
    align-items: start;
  }
}

.team__block-text {
  color: $gray-extra-middle;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.team__block-title {
  color: $gray-extra-middle;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 40px;
  }
  @media (min-width: 769px) {
    font-size: 64px;
  }
}
