body {
  background-color: $baige-brand;
  font-style: normal;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-brand;
  margin: 0 auto;
}

.h2 {
  font-family: Gilroy;
  color: $gray-brand;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 17vw;
    letter-spacing: 1vw;
    margin: 30px 0;
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    font-size: 17vw;
    letter-spacing: 1vw;
    margin: 30px 0;
  }

  @media (min-width: 1201px) {
    font-size: 212px;
    letter-spacing: 8.48px;
    margin: 50px 0;
  }

  &--aside {
    letter-spacing: 0px;

    @media (max-width: 768px) {
        font-size: 16vw;
      }

    @media (min-width: 769px) and (max-width: 1200px) {
        font-size: 16vw;
      }
    
    @media (min-width: 1201px) {
        font-size: 150px;
        margin-top: 0;
        margin-bottom: 100px;
    }
  }
}

.inner {
  @media (max-width: 768px) {
    padding: 0 20px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding: 0 30px;
  }

  @media (min-width: 1201px) {
    padding: 0 70px;
  }
}

.btn__wrap {
  display: flex;

  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: end;
  }
}

.btn {
  font-family: Gilroy-Medium;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: $gray-brand;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  position: relative;
  cursor: pointer;

  &--white {
    color: $gray-brand;
    background-color: $white;
  }

  &--p60 {
    padding-left: 60px;
    padding-right: 60px;
  }

  &--full {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  span {
    position: relative;
    right: 5px;
    padding-right: 10px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      margin-left: 10px;
      top: 51.5%;
      right: 0;
    }
    &::before {
      width: 24px;
      height: 2px;
      background-color: $white;
      transform: translate(100%, -50%);
    }
    &::after {
      width: 11px;
      height: 11px;
      border: 2.5px solid $white;
      border-radius: 1.5px;
      border-top: none;
      border-left: none;
      transform: translate(23px, -48%) rotate(-45deg);
    }
  }

  &--arrow {
    padding-right: 45px;
  }

  &--full-arrow {
    @media (min-width: 769px) {
      padding-right: 45px;
    }
  }

  &:active {
    top: 5px;
    left: 3px;
  }
}
